<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace="매퍼 인터페이스 경로" --> 
<mapper namespace="com.aloha.server.mapper.ServerMapper">
   <insert id="insertBoard" parameterType="Board">
        INSERT INTO board (title, writer, content, reg_date, upd_date, views)
        VALUES (#{title}, #{writer}, #{content}, NOW(), NOW(), #{views})
    </insert>

    <select id="selectBoard" parameterType="int" resultType="Board">
        SELECT * FROM board WHERE no = #{no}
    </select>

    <select id="selectAllBoards" resultType="Board">
        SELECT * FROM board
    </select>

    <update id="updateBoard" parameterType="Board">
        UPDATE board
        SET title = #{title}, writer = #{writer}, content = #{content}, upd_date = NOW(), views = #{views}
        WHERE no = #{no}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board WHERE no = #{no}
    </delete>
</mapper>